tags
test.sh
.luarc.json
nvim

spell/
lazy-lock.json

kde.org
khal
configstore/*

Electron
Signal
baloofileinformationrc
dconf
discord
dolphinrc
dolphinrc.bak
go
google-chrome
chromium
gtk-3.0
neofetch
nvim
pavucontrol.ini
procps
pulse
session
spicetify
spotify-player
yay
